* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #4d515d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    height: 569px;
    width: 63%;
    position: relative;
}

.paragraph {
    color: #8e8d8e;
}

.google {
    margin-top: 40px;
}

img {
    width: 18px;
    margin-right: 90px;
}

.header {
    font-size: 47px ;
    padding: 15px 0 10px 0;
}

.icon {
    display: flex;
    border: 1px solid #f1f2f5;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #8e8d8e;
}

.icon:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgb(235, 233, 231);
    color: black;
}

.left-side {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 345px;
    right: -170px;
    position: absolute;
}

.right-side {
    width: 611px;
    height: 517px;
    padding: 40px;
    background-color: white;
    border-radius: 5px 0 0 5px;
}

.sign {
    align-items: center;
}

.margin-google {
    margin-top: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.footer-b {
    color: #8e8d8e;
}

.footer-b:hover {
    cursor: pointer;
    color: black;
}
